body{
    margin: 0;
    font-family: 'Qwitcher Grypen', cursive;
    background-color: rgba(0,0,0,.45);
}
.frist-part{
    background-image: url(./image/top-banner.png);
    background-repeat:no-repeat ;
}
.flexible{
    display: flex;

}
.width{
    width: 50%;
    margin-left: 5%;
    margin-right: 2%;
}
.image{
    width: 80%;
}
.orange{
    color: orange;
}
.red{
    color: red;
}
.blue{
    color: blue;
}
h1 {
    font-size: 42px;
}
button{
    padding: 12px 20px;
    background-image:linear-gradient(red,tomato);
    border: none;
    border-radius: 10px;
    
}
.contact{
    text-decoration: none;
    color:rgb(242, 255, 59);

    
}
.secound-part {
    margin-top: 130px;
    background-image: url(./image/dream-bg.png);
    background-position:right;
    background-repeat: no-repeat;
}
.last-part{
    margin: 140px 0;
    background-image: url(./image/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left;
    background-size: over;
}
.box-shadow{
    box-shadow: rgba(0, 0, 0, 0.85) 0px 5px 15px;
    padding: 37px;
    font-weight: 300px;
    border-radius: 12px;
    border-left: 5px solid ;
    border-image: linear-gradient(red, blue) 27;

}
footer{
    text-align:center;
    margin-bottom: 21px;
    color:yellow;
}

